[submodule "pack/andebjor/start/nerdcommenter"]
	path = pack/andebjor/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/andebjor/start/vim-fugitive"]
	path = pack/andebjor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/andebjor/start/vim-airline-themes"]
	path = pack/andebjor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/andebjor/start/vim-airline"]
	path = pack/andebjor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/andebjor/start/tabular"]
	path = pack/andebjor/start/tabular
	url = https://github.com/godlygeek/tabular.git
